---
import Header from "../../components/header.astro";
import Footer from "../../components/footer.astro";
import Layout from "../../layouts/Layout.astro";
---
<Layout>
    <Header/>  

    <section class="container py-5">  
        <h2 class="text-center">
          Servicios <span class="text-danger">Sanacion</span>
        </h2>
        <hr class="mx-auto my-3" style="width: 80%; height: 2px; background-color: #800020;" />
    
        <div class="row align-items-center shadow p-4 rounded bg-white">
          <!-- Imagen -->
          <div class="col-md-6">  
            <img 
              src="/public/cristales.webp" 
              alt="Sanacion" 
              class="img-fluid rounded" />
          </div> 
    
          <!-- Contenido -->
          <div class="col-md-6"> 
            <h3 class="text-dark"><strong>Reiki con gemoterapia</strong></h3> 
            <p> 
                Cristales que se utilizan sobre los chakras o centros de energía. Al realizar una disposición de cristales sobre el cuerpo, se ponen en movimiento caudales de información energética valiosa para trabajar con los chakras, abriendo, liberando, desbloqueando y armonizando estos centros de energía.
            </p>
            <ul class="list-unstyled">
              <li><strong>Terapeuta:</strong> Vanessa <span class="text-danger"> $20.000 </span></li>  
            </ul>
          </div>
        </div>     

    <Footer/> 
</Layout>  