---
import Header from "../../components/header.astro";
import Footer from "../../components/footer.astro"; 
import Layout from "../../layouts/Layout.astro"; 
---
<Layout>
 <Header/>   
 
 <section class="container py-5">
    <h2 class="text-center">
      Servicios <span class="text-danger">Bienestar</span>
    </h2>
    <hr class="mx-auto my-3" style="width: 80%; height: 2px; background-color: #800020;" />

    <div class="row align-items-center shadow p-4 rounded bg-white">
      <!-- Imagen -->
      <div class="col-md-6">
        <img 
          src="/public/ritual.webp"
          alt="Ritual" 
          class="img-fluid rounded"
        />
      </div> 

      <!-- Contenido -->
      <div class="col-md-6">
        <h3 class="text-dark"><strong>Armonía Ritual</strong></h3>
        <p>
            Masaje facial, craneal, cervical, espalda alta, brazos y manos, se utilizan saquitos terapéuticos de semilla en la parte cervical y facial, armonización al principio y al final de la sesión con sonoterapia con cuenco tibetano. Regalo: exfoliación de manos y limonada o tecito artesanal según el gusto del paciente.
        </p>
        <ul class="list-unstyled">
          <li><strong>Terapeuta:</strong>Gladys<span class="text-danger">$18.000</span></li> 
        </ul>
      </div>
    </div>  


 <Footer/>
</Layout>  