---
import Header from "../../components/header.astro";
import Footer from "../../components/footer.astro"; 
import Layout from "../../layouts/Layout.astro"; 
---
<Layout>
 <Header/> 
 
 <section class="container py-5">
    <h2 class="text-center">
      Servicios <span class="text-danger">Bienestar</span>
    </h2>
    <hr class="mx-auto my-3" style="width: 80%; height: 2px; background-color: #800020;" />

    <div class="row align-items-center shadow p-4 rounded bg-white">
      <!-- Imagen -->
      <div class="col-md-6">
        <img 
          src="/public/descontracturante.webp"
          alt="descontracturante" 
          class="img-fluid rounded"
        />
      </div> 

      <!-- Contenido -->
      <div class="col-md-6">
        <h3 class="text-dark"><strong>Masaje Descontracturante</strong></h3>
        <p>
            Indicado para músculos tensos, dolorosos, contracturados y en personas que realizan esfuerzos físicos severos por su trabajo, ejercicio físico y/o estado nervioso. Quita dolencias, nudos acumulados en la zona de la espalda.
        <ul class="list-unstyled">
          <li><strong>Terapeutas:</strong>Camila<span class="text-danger">$18.000</span></li> 
          <li><strong>Terapeutas:</strong>Vanessa<span class="text-danger">$20.000</span></li> 
          <li><strong>Terapeutas:</strong>Nathaly<span class="text-danger">$20.000</span></li> 
        </ul>
      </div>
    </div> 

































 <Footer/>
</Layout>   