---
import Header from "../../components/header.astro";
import Footer from "../../components/footer.astro"; 
import Layout from "../../layouts/Layout.astro"; 
---
<Layout>
 <Header/> 
 
 <section class="container py-5">
    <h2 class="text-center">
      Servicios <span class="text-danger">Bienestar</span>
    </h2>
    <hr class="mx-auto my-3" style="width: 80%; height: 2px; background-color: #800020;" />

    <div class="row align-items-center shadow p-4 rounded bg-white">
      <!-- Imagen -->
      <div class="col-md-6">
        <img 
          src="/public/energetico.webp"
          alt="Energetico" 
          class="img-fluid rounded"
        />
      </div> 

      <!-- Contenido -->
      <div class="col-md-6">
        <h3 class="text-dark"><strong>Masaje Energético</strong></h3>
        <p>
        Masaje de relajación medio cuerpo que incluye gemoterapia con reiki, limpieza energética y cuenco tibetano atención de forma simultánea.
        <ul class="list-unstyled">
          <li><strong>Terapeuta:</strong>Vanessa<span class="text-danger">$39.000</span></li> 
        </ul>
      </div>
    </div> 

 <Footer/>
</Layout>  