---
import Header from "../../components/header.astro";
import Footer from "../../components/footer.astro"; 
import Layout from "../../layouts/Layout.astro"; 
---
<Layout>
 <Header/>

 <section class="container py-5">
    <h2 class="text-center">
      Servicios <span class="text-danger">Bienestar</span>
    </h2>
    <hr class="mx-auto my-3" style="width: 80%; height: 2px; background-color: #800020;" />

    <div class="row align-items-center shadow p-4 rounded bg-white">
      <!-- Imagen -->
      <div class="col-md-6">
        <img 
          src="/public/camila.webp"
          alt="Relajacion" 
          class="img-fluid rounded"
        />
      </div> 

      <!-- Contenido -->
      <div class="col-md-6">
        <h3 class="text-dark"><strong>Masaje de Relajación</strong></h3>
        <p>
        Activa y regenera el organismo y libera endorfinas, lo que hace que brinde confort y regule la tensión, además de favorecer al descanso (Zona espalda, brazos y manos)
        </p>
        <ul class="list-unstyled">
          <li><strong>Terapeuta:</strong>Camila<span class="text-danger">$18.000</span></li> 
          <li><strong>Terapeuta:</strong>Vanessa<span class="text-danger">$20.000</span></li> 
          <li><strong>Terapeuta:</strong>Nathaly<span class="text-danger">$20.000</span></li> 
          <li><strong>Terapeuta:</strong>Nathaly<span class="text-danger">$40.000</span></li>  
          
        </ul>
      </div>
    </div> 




































 <Footer/>
</Layout>  
