---
import Header from "../../components/header.astro";
import Footer from "../../components/footer.astro"; 
import Layout from "../../layouts/Layout.astro"; 
---
<Layout>
 <Header/>
 <section class="container py-5">
    <h2 class="text-center">
      Servicios <span class="text-danger">Bienestar</span>
    </h2>
    <hr class="mx-auto my-3" style="width: 80%; height: 2px; background-color: #800020;" />

    <div class="row align-items-center shadow p-4 rounded bg-white">
      <!-- Imagen -->
      <div class="col-md-6">
        <img 
          src="/public/infaltil.webp"
          alt="Adulto" 
          class="img-fluid rounded" 
        />
      </div> 

      <!-- Contenido -->
      <div class="col-md-6">
        <h3 class="text-dark"><strong>Yoga infantil</strong></h3>
        <p>
        El yoga infantil es una adaptación del yoga tradicional diseñada específicamente para niños/as. Se trata de una práctica lúdica que combina posturas físicas, técnicas de respiración, relajación y juegos, con el objetivo de promover el bienestar físico, mental y emocional de los/las niños/as . 
        </p>
        <ul class="list-unstyled">
          <li><strong>Terapeuta:</strong> Mitzi <span class="text-danger">1 Clase $6.000 4 Clases $22.000</span></li> 
        </ul>
      </div>
    </div>  


 <Footer/>
</Layout>   
 